:root {
  --color-primary: #CC2734;
  --color-secondary: #000000;
  --color-accent: #84B5C8;
  --color-hover: #8D8D8D;

  --font-secondary: Anton, sans-serif;
  --font-primary: Work-Sans, sans-serif;
}

h1, h2 {
  color: var(--color-primary);
  font-family: var(--font-secondary);
}

p {
  font-family: var(--font-primary);
}
