.thewidth {
  width: 2em;
}

.color-btn {
  color: white;
}

@media only screen and (min-width: 30em) {
  .thewidth {
    width: 3em;
    margin-bottom: 1em;
  }

}

@media only screen and (min-width: 80em) {
  .thewidth {
    width: 5em;
  }

}
