.bg {
  background-image: url(/images/bg-3.jpg);
}

.bg-sticker {
  background-image: url(/images/cut-sticker-1.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: left bottom;

}
