.bg-3 {
  background-image: url(/images/bg-3.jpg);
}

.gif-video-embed .embed-item {
  width: auto;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.gif-video-embed {
  padding-top: 57%;
}

.gutter-2-video {
  padding-right: none;
  padding-left: none;
}

.grey {
  color: var(--color-hover);
}

.milli {
  line-height: 1.5em;
}

.hr {
  width: 0em;
}

@media only screen and (min-width: 25em) {
  .gif-video-embed {
    padding-top: 29%;
  }

}

@media only screen and (min-width: 30em) {

  .gutter-2-video {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .gif-video-embed {
    padding-top: 29%;
  }

}
