<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://use.typekit.net/ksp1tob.css">
  <meta name="description" content="{{page.desc}}">
  <meta name="ICBM" content="45.41117,-75.69812">
  <meta name="geo.position" content="45.41117,-75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta name="og:type" content="website">
  <meta name="og:title" content="{{page.desc}}">
  <meta name="og:url" content="https://jazminkatz.ca/">
  <meta name="og:image" content="https://jazminkatz.ca/images/jk.png">
  <meta name="og:site_name" content="Jazmin Katz">
  <meta name="og:description" content="{{page.desc}}">
  <meta name="og:locale" content="en_CA">
</head>
<body>
  {{content}}
</body>
</html>
