.width {
  width: 15em;
  font-weight: lighter;
}

.zetta {
  line-height: 1.1;
}

.yotta {
  line-height: 1.1;
}

p {
  color: var(--color-secondary);
}

.temp-color {
  background-color: var(--color-hover);
}

.bg {
  background-image: url(/images/sticker-1.png);
  background-size: auto 9em;
  background-repeat: no-repeat;
  background-position: right top;
}

.banner-video-embed {
  padding-top: 100%;
}

.banner-video-embed .embed-item {
  width: auto;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 30em) {

  .banner-video-embed {
    padding-top: 80%;
  }

}

@media only screen and (min-width: 60em) {

  .banner-video-embed {
    padding-top: 72%;
  }

}

@media only screen and (min-width: 80em) {

  .banner-video-embed {
    padding-top: 56.25%;
  }

}
